@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lato:wght@300;400&family=Quattrocento&family=Roboto:wght@100;300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #737373;
  padding: 3rem;
  padding-top: 1.8rem;
}


/* Nav */

.name {
  text-align: center;
  width: auto;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}


.menu {
  width: auto;
  margin: 0px auto;
  text-align: center;
}


.link {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #737373;
  margin: 15px;
}




/* Intro */

.container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.header {
  order: 1;
  padding: 3rem;
  width: auto;
  margin-right: 2rem;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.welcome {
  padding-top: 3rem;
}

.picture {
  order: 2;
}




/* About me */

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  padding-left: 2.5rem;
}

.aboutMe {
  padding-left: 3rem;
}

.skills {
  padding-left: 4rem;
}



/* Projects */

.container_project {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  padding: 0 2rem;
  margin: 1.5rem auto 1.5rem;
  width: 70%;
  gap: 3rem;
}

.reversed {
  flex-direction: row-reverse;
}

.text {
  width: 40%;
}
 
.image {
  width: 50%;
}

hr {
  width: 80%;
  border: none;
  height: 0.8px;
  background-color: rgba(0, 0, 0, 0.541);
}




/* Contact */

.container_cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv {
  order: 2;
  width: 600px;
}

h4 {
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
}


footer {
  text-align: center;
}

.linkLogo {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #737373;
  padding-right: 1.5rem;
}





/* tablet */

@media screen and (max-width: 900px) {

  body {
    padding: 1rem;
  }

  .header {
    margin-right: 0;
    padding-bottom: 0;
  }

  img {
    width: 250px;
    margin-left: 1.5rem;
  }

  .intro {
    width: 200%;
    padding-top: 6rem;
  }

  .container {
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .title {
    padding-left: 2.5rem; 
  }

  /* Project */

  .container_project {
    padding: 0.5rem;
    width: 85%;
  }

  .imgProject {
    width: 100%;
    margin-left: -0.5rem;
  } 

  /* Contact */

  .englishResume {
    padding-left: 3rem;
  }
  
  h4 {
    text-align: center;
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .cv {
    margin-left: 0rem;
  }

  .imgLogo {
    width: 2.5%;
  }

}




/* Phone */

@media screen and (max-width: 479px) {
  
  body {
    padding: 0rem;
  }

  /* Intro */

  .container {
     flex-direction: column;
     padding: 0rem;
     justify-content: left;
  }

  .header {
    padding-top: 1rem;
    padding-left: 0.5rem;
  }

  .intro {
    width: 100%;
    padding-top: 0rem;
  }


  .welcome {
    padding: 0rem;
  }
  
  img {
    width: 250px;
    margin-left: 3.4rem;
  }

  .title {
    padding-left: 1rem; 
  }
  
  /* Project */

  .container_project {
    flex-direction: column;
    padding: 0.5rem;
    padding-top: -1rem;
  }

  .text {
    width: 100%;
  }

  .imgProject {
    margin-left: -4.5rem;
    width: 300px;
  }


  /* Contact */

  .aboutMe {
    padding-left: 0.5rem;
  }
  
  .englishResume {
    padding-left: 0rem;
  }

  .container_cv {
    padding-left: 1.5rem;
  }

  h4 {
    text-align: center;
    padding-left: 2.2rem;
    padding-right: 3rem;
  }

  .cv {
    width: 300px;
    margin-left: -0.5rem;
  }

  
  .imgLogo {
    width: 5%;
  }

  .linkLogo {
    margin-left: -48px;
  }
}


